/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/
.clearfix::after,
:root {
    --red: #dc3545;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
}

.text-uppercase {
    text-transform: uppercase !important;
}

.mb-0, .my-0 {
    margin-top: 0;
    margin-bottom: 0 !important;
}

.p-3 {
    padding: 1rem !important;
}

.text-center {
    text-align: center !important;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}

.font-weight-bold {
    font-weight: 700 !important;
}

.text-muted {
    color: #6c757d !important;
}

.text-hidden {
    color: #ffffff !important;
}

dl, ol, ul {
    margin-top: 0;
    margin-bottom: 0rem;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

@font-face {
    font-family: "Quattrocento-Bold";
    src: url('Quattrocento-Bold.ttf');
}

@font-face {
    font-family: "Quattrocento-Regular";
    src: url('Quattrocento-Regular.ttf');
}

.container {
    width: 100%;
    padding: 0 !important;
    margin: 0 !important;
    max-width: 984px;
    height: 1304px;
}

*, ::after, ::before {
    box-sizing: border-box;
}

.calendar ol::after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

/* ================
Calendar Styling */
.calendar {
    border-radius: 0px;
}

.top-header {
    font-family: Quattrocento-Regular;
    margin-left: 1rem;
    margin-right: 1rem;
}

.time-info {
    font-size: 1.25rem;
}

.month {
    font-size: 9rem;
    font-family: "Quattrocento-Regular";
}

@media (min-width: 992px) {
    .month {
        font-size: 13rem;
        line-height: 13rem;
        font-family: "Quattrocento-Regular";
    }
}

.calendar ol li {
    float: left;
    width: 14.28571%;
}

.calendar .day-names {
    font-size: 1.5rem;
    line-height: 1.2;
    font-family: "Quattrocento-Regular";
    margin-top: .75rem;
}

.calendar .day-names li {
    text-transform: uppercase;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.calendar .days li {
    /* min-height: 12rem; */
    min-height: 6.5rem;
}

.calendar .days li .date {
    line-height: 1;
}

.calendar .date {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    font-family: "Quattrocento-Regular";
}

.datecirclebox {
    position: relative;
}

.datecircle {
    margin: 0rem auto;
    width: 4.1rem;
    height: 4.1rem;
    border-radius: 10rem;
    font-family: "Quattrocento-Regular";
    font-size: 2rem;
    color: white;
    line-height: 4.1rem;
    text-align: center;
    vertical-align: middle;
    background: #ff0000;
    margin-top: -1rem;
}

.calendar .days li .event {
    font-size: .75rem;
    /* font-weight: bold;*/
    padding: 0.1rem;
    /* color: black; */
    /* font-family: "Judson-Regular";*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
    border-radius: 0rem;
    margin-bottom: 1px;
    color: #6c757d;
    border-top: 1px solid white;
}

.calendar .days li .event.span-2 {
    width: 200%;
}

.text-multiday {
    text-overflow: '...„Äç' !important;
}

.calendar .days li .event.begin {
    border-radius: 1rem 0 0 1rem;
}

.calendar .days li .event.end {
    border-radius: 0 1rem 1rem 0;
}

.calendar .days li .event.clear {
    background: none;
}

.calendar .days li:nth-child(n+29) {
    border-bottom: none;
}

.calendar .days li.outside .date {
    color: #ddd;
}

/*.css-who {*/
/*    border-top: 1px solid white;*/
/*    margin-bottom: 0;*/
/*}*/
/*
*
* ==========================================
* FOR DEMO PURPOSES
* ==========================================
*
*/
body {
    min-height: 100vh;
    background-color: #ffffff;
}
